//
//  APIKey.h
//  uWaterloo Assistant
//
//  Created by Zachary Seguin on 2014-04-30.
//  Copyright (c) 2014 Zachary Seguin. All rights reserved.
//

#ifndef uWaterloo_Assistant_APIKey_h
#define uWaterloo_Assistant_APIKey_h

#define API_KEY @"YOUR_API_KEY"

#endif
